{% extends "main_template.html" %}
{% block content %}	
    <body class="home">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">

              <h4>Welcome to  My Developer Portfolio</h4>

        </div>
		  
          <ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'projects' %}">Sample Projects</a></li>
				<li><a href="https://github.com/mickleeollison">Github Account</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>  
          </ul>
      </div>
    </div>
      
    <div class="container">
		<div class="content">
			<h1 id="title">Mickenzie Ollison's Developer Portfolio</h1>
			<center><img src="../../static/images/ProfilePic.jpg" class="img-circle"></center>
			<p>
				To me the software industry is a wonderful platform where inquisitive people work together to inspire analytical thought and creative solutions to peoples pressing problems. It's a field that values the collective wisdom of many from knowledge-sharing communities from Stack Overflow and Github to the numerous open source projects being created each week. We're a community that not only encourages continuous learning from not only new languages, frameworks and tools but also in our day to day work of promiting best practices, mentorship, and iterative development following agile methedologies. I feel that I am a developer at heart who loves sharingand recieving knowledge, working in teams to solve problems bigger than I could ever solve on my own. and constanly challege my analytical, communication, and development skills while becoming a better developer as a result.
			</p>

		</div>
    </div>
    </body>
{% endblock %}
